    .gradient-text {
      background: linear-gradient(180deg, #e02f1f, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; /* Set text color to transparent to allow gradient to show */
    }
